
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
    font-family: "Raleway", serif;
    font-style: normal;
}

.quicksand-font {
    font-family: "Quicksand", serif;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    max-width:1440px; 
    margin: 0 auto; 
} 









/* -------------------------- header section -------------------------------- */
header{
    width: 100%;
    height: 6.375rem;
}  

header nav .left h3{
    font-size: 2rem;
    color: black;
}

header nav{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav ul{
    list-style-type: none;
    display: flex;

}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
} 


header nav .right .nav-btn{
    background-color: orange;

} 

header nav .right .nav-menu{
    display: none;
} 



/* -------------------------- main -------------------------------- */

main{
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}









/*  -------------------------- hero --------------------------------  */
main #hero{
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(2.5rem, 2.0831rem + 1.962vw, 4.4375rem);

}

main #hero .text-content{
    width: 55%;
}

main #hero .text-content h3{
    font-size: clamp(2rem, 1.6772rem + 1.519vw, 3.5rem);
    margin-bottom:clamp(1.125rem, 1.0443rem + 0.3797vw, 1.5rem);
} 

main #hero .image-content{
    width: 40%;
} 
main #hero .image-content img{
    width: 100%;
    height: 100%;
    display: block;
}

/* -------------------------- curriculum -------------------------------- */

main #curriculum{
    width: 80%;
    background: url("../assets/bg.png") no-repeat 50% -50%  / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 





main #curriculum .card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

main #curriculum .arrow-container{
    padding-top:5rem ;
    padding-bottom:3.75rem ;
}



/* -------------------------- marquee -------------------------------- */


marquee {
    width: 80%;
    font-size: 2.3rem;
    color: #000000;
    background: linear-gradient(to left, #9bc5cc, #c6eb9c);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2rem;
    
}


/* -------------------------- our-stories -------------------------------- */


main #our-stories{
    /* background:linear-gradient(to top, #FFE9C1, #FFFFFF), url("../assets/bg.png") no-repeat 50% -50%  / cover; */
    background: url("../assets/bg.png") no-repeat 50% -20% / cover,linear-gradient(to top, #FFD284, #FFFFFF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8.75rem 8.75rem 3.75rem 8.75rem;
}



main #our-stories .grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1.206875rem;
    grid-template-areas: 
        'box1 box1 box2 box3'
        'box1 box1 box4 box5'
    ; 
    margin-bottom: 5rem;
}

main #our-stories .grid-container .box1{
    grid-area: box1;
}

main #our-stories .grid-container .box2{
    grid-area: box2;
}

main #our-stories .grid-container .box3{
    grid-area: box3;
}

main #our-stories .grid-container .box4{
   grid-area: box4;
}

main #our-stories .grid-container .box5{
    grid-area: box5;
}




main #our-stories .grid-container .box3 .grid-content-small-box span{
    background-color: #5D58F0;
}

main #our-stories .grid-container .box5 .grid-content-small-box span{
    width:7.965rem ;
    height: 2.396875rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:0 ;
    padding-right: 0;
}


/* ------------------------------------------------ footer ------------------------------------------------ */ 


footer{
    background-color: #01ACFD;
    justify-content: center;
    align-items: center;
    padding: 7.6875rem 0 6.75rem 0;

} 

footer .content{
    width: 75%;
    height: 42%;
    background-color: #01ACFD;
    justify-content: space-between;
}

footer .content .left-footer{
    width: 37%;  
}

footer .content .left-footer .foot-img{
    margin-bottom:1.9rem ;
}











@media screen and (max-width:576px) {

    /* common-btn */

    .common-btn{
        width: 8.1875rem;
        height: 2.625rem;
        border-radius: 0.5rem;

    }
    /*  -------------------------- header --------------------------------  */

    header{
        border-bottom:0.5px solid var(--orange);
    }
    header nav{
        width: 90%;
    }
    .display-none{
        display: none;
    } 

    header nav .right .nav-menu{
        display: block;
    } 


    /*  -------------------------- hero --------------------------------  */
    /* main{
        background-color: green;
    } */

    main #hero{
        flex-direction: column-reverse;
        width: 93%;
        margin-bottom: 1.25rem;
    } 
    main #hero .image-content{
        width: 100%;
        padding: 1.25rem 0.638125rem 0 0.638125rem;
        margin-bottom:1.25rem ;
    } 
    main #hero .text-content{
        width: 100%;
        text-align: center;
    } 


    /* -------------------------- curriculum -------------------------------- */
    /* main #curriculum{
        background-color: yellow;
    } */

    main #curriculum .card-container{
        /* background-color: violet; */
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 2.5rem;
    } 

    main #curriculum .card-container .card{
       width: 100%;
        
    } 

    /* -------------------------- our-stories -------------------------------- */

    main #our-stories{
        padding: 1rem;
    }
    main #our-stories .grid-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
            'box2 box3'
            'box4 box5'
        ;
        gap: 0.706875rem;
        margin-bottom: 2.5rem;
    } 

    .grid-content-small-box{
        padding-left: 1.410625rem;
        padding-right: 0.5rem;
        padding-bottom: 1.1rem;
        padding-top: 1rem;
    }


    /* styling span */
    .small-span{
        width:6.625rem ;
        height:1.426875rem ;
        font-size:0.570625rem ;
        font-weight: 500;
        padding:0.3925rem  0.71375rem;
        border-radius: 1.78375rem;
        background-color:#95B226 ;
        color: #FFFFFF;
        position: absolute;
        top: -10px;
        left: 20px;
    } 

    main #our-stories .grid-container .box5 .grid-content-small-box span{
        width:5.5rem ;
        height: 1.425rem;
        font-size: 0.5rem;
        padding-left:0.5rem ;
        padding-right: 0.5rem;
    } 

    /* footer */
    footer .content{
        flex-direction: column;
    }
    
    footer .content .left-footer{
        width: 100%;  
        margin-bottom: 2rem;
    }
    
}