

/* colors */

:root{
    --orange:orange;
    --sky-blue:skyblue;
    --paste:#05D4DF;
    --light-violate:#5D58EF;
    --black-1:#808080;
    --black-2:#666666;
}


.orange{
    color: var(--orange);
} 

.sky-blue{
    color: var(--sky-blue);
} 

.paste{
    color: var(--paste);
} 

.light-violate{
    color: var(--light-violate);
}

.black-1{
    color: var(--black-1);
} 
.black-2{
    color: var(--black-2);
}












/* display flex c c */
.df-jc-ac{
    display: flex;
    justify-content: center;
    align-items: center;
}


.display-flex{
    display: flex;
}


/* nav bar heading  */

.nav-heading{
    display: flex;
    align-items: center;
    gap: 0.6875rem;
} 

/*  margin of anchor tag in navbar */
.margin-right{
    margin-right: 2rem;
}



/* styles of buttons */

.common-btn{
    width: 12.3125rem;
    height: 3.125rem;
    border-radius: 0.75rem;
    border: 0;
    outline: 0;
    background-color: black;
    color:#ffffff;
    font-size:1.25rem ;
    font-weight: 500;
    cursor: pointer;
}

/* style of hero section description */ 

.description{
    font-size: clamp(0.875rem, 0.7943rem + 0.3797vw, 1.25rem);
    margin-bottom:clamp(1.125rem, 1.0443rem + 0.3797vw, 1.5rem);

}

/* section heading */ 

.section-heading{
    font-size: clamp(1.625rem, 1.356rem + 1.2658vw, 2.875rem);
    font-weight: bold;
    color: #000000;
    margin:clamp(2.5rem, 2.231rem + 1.2658vw, 3.75rem) 0  clamp(1.25rem, 0.443rem + 3.7975vw, 5rem) 0;
} 


/* standard curriculum card design */
.card{
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    padding:3.30125rem 2.555rem;
    border-radius: 1.17875rem;
}


/* unique design of every card */

.card1{
    background: linear-gradient(to bottom, #DEF5FF, #FFFFFF, #FFFFFF, #FFFFFF);
    border-left:0.05875rem solid #DEF5FF;
    border-right:0.05875rem solid #DEF5FF;
    border-bottom:0.05875rem solid #DEF5FF;
}

.card2{
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF, #FFFFFF, #FFFFFF);
    border-left:0.05875rem solid #FFF4DC;
    border-right:0.05875rem solid #FFF4DC;
    border-bottom:0.05875rem solid #FFF4DC;
}

.card3{
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF, #FFFFFF, #FFFFFF);
    border-left:0.05875rem solid #F2E8FF;
    border-right:0.05875rem solid #F2E8FF;
    border-bottom:0.05875rem solid #F2E8FF ;
}








/* standard curriculum card images */


.card-img{
    margin-bottom: 2rem;
}



/* standard curriculum card heading */

.card-heading{
    font-size: clamp(1.015625rem, 0.9044rem + 0.5234vw, 1.5325rem);
    font-weight: bold;
    margin-bottom: 2.0925rem;
}





/* standard curriculum card description  */ 


.card-description{
    font-size: clamp(0.63875rem, 0.5733rem + 0.3082vw, 0.943125rem);
    line-height: clamp(1.2rem, 1.0776rem + 0.5759vw, 1.76875rem);
    margin-bottom:clamp(2.25rem, 2.0111rem + 1.1241vw, 3.36rem);

} 

/* read more  */

.read-more{
    text-decoration: none;
    font-size: clamp(0.63875rem, 0.5733rem + 0.3082vw, 0.943125rem);
    font-weight: bold;

}


/* individual style on read more */



.read-more1{
    color:#64C8FF ;
}

.read-more2{
    color:#F0AA00 ;
}

.read-more3{
    color:#8700FF ;
}



/* grid images big box */ 


.grid-img-box-big{
    width: 100%;

} 

.grid-img{
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
} 

/* grid big box content-box */
.grid-content-big-box{
    background-color: #ffffff;
    padding-top:3.6625rem ;
    padding-left: 2.396875rem;
    padding-right: 2.396875rem;
    padding-bottom: 2.1575rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
}


/* grid big box span */

.big-span{
    width: 10.906875rem;
    height:2.995625rem ;
    font-size:0.95875rem ;
    padding: 0.8rem 1.2rem;
    border-radius: 2.995625rem;
    background-color: #3CD8E8;
    font-weight: 500;
    color: #FFFFFF;
    position: absolute;
    top: -20px;
    left: 35px;
}

/* grid big box heading*/ 

.big-box-heading{
    font-size: 1.5rem;
    font-weight:bold ;
    line-height: 2.39375rem;
    color: #000000;
    margin-bottom: 2.995625rem;
}




/* grid small box styles */
.small-box{
    border-radius: 1.5rem;
}

.grid-small-img-box{
    width: 100%;
    height: 60%;
} 

.grid-small-img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
} 


/* small spans */

.small-span{
    width:11.215rem ;
    height:2.396875rem ;
    font-size:0.95875rem ;
    font-weight: 500;
    padding:0.625rem  1.2rem;
    border-radius: 2.995625rem;
    background-color:#95B226 ;
    color: #FFFFFF;
    position: absolute;
    top: -20px;
    left: 35px;
}


.grid-content-small-box{
    width: 100%;
    height: 40%;
    background-color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-left: 2.369375rem;
    padding-top: 1.5rem;
    position: relative;
} 

.small-box-heading{
    font-size: clamp(0.570625rem, 0.4871rem + 0.393vw, 0.95875rem);
    line-height:clamp(1.06875rem, 0.9114rem + 0.7405vw, 1.8rem);

} 

